:root {
    color-scheme: light dark;
    --color-background-light: #ffffff;
    --color-dimmed-light: #a0cae4;
    --color-primary-light: #191e23;
    --color-secondary-light: #6fb388;
    --color-secondary-bis-light: #6d797e;
    --color-accent-light: #0073aa;
    --color-background-dark: #191e23;
    --color-dimmed-dark: #23282d;
    --color-primary-dark: #fbfbfc;
    --color-secondary-dark: #ccd0d4;
    --color-secondary-bis-dark: #ccd0d4;
    --color-accent-dark: #00a0d2;
    --color-background: var(--color-background-light);
    --color-dimmed: var(--color-dimmed-light);
    --color-primary: var(--color-primary-light);
    --color-secondary: var(--color-secondary-light);
    --color-secondary-bis: var(--color-secondary-bis-light);
    --color-accent: var(--color-accent-light);
    --scale-ratio: 1.20;
    --scale0: 1rem;
    --scale1: calc(var(--scale0) * var(--scale-ratio));
    --scale2: calc(var(--scale1) * var(--scale-ratio));
    --scale3: calc(var(--scale2) * var(--scale-ratio));
    --scale4: calc(var(--scale3) * var(--scale-ratio));
    --scale5: calc(var(--scale4) * var(--scale-ratio))
}

@media (prefers-color-scheme:dark) {
    :root {
        --color-background: var(--color-background-dark);
        --color-dimmed: var(--color-dimmed-dark);
        --color-primary: var(--color-primary-dark);
        --color-secondary: var(--color-secondary-dark);
        --color-secondary-bis: var(--color-secondary-bisdark);
        --color-accent: var(--color-accent-dark)
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-size: 14px
}

.highlights li {
    padding: 3px
}

body {
    background: var(--color-background);
    color: var(--color-primary);
    display: block;
    font: .87em/1.5 Lato, sans-serif;
    gap: 2em;
    margin-bottom: 4em;
    font-variant-ligatures: none
}

.competence-line {
    display: flex;
    gap: .5rem;
    align-items: baseline;
    flex-direction: row;
    margin-bottom: 0
}

.competence-line h3 {
    margin: 0;
    font-size: 1.1rem
}

.competence-line p {
    background: var(--color-background);
    color: var(--color-primary);
    display: block;
    font: 1em/1.5 Lato, sans-serif
}

body::before {
    content: '';
}

.container {
    margin-bottom: 1em
}

ul {
    padding-left: 1em;
    line-height: 13px
}

.headers {
    width: auto;
    padding-bottom: 10px
}

.workInfo {
    display: flex;
    flex-direction: column
}

.detail {
    display: flex;
    flex-direction: column;
}

.highlights {
    margin-right: 15px
}

li::marker {
    color: var(--color-secondary)
}

.keyWord {
    padding-top: 5px
}

a {
    color: var(--color-accent);
    text-decoration: none
}

a:focus,
a:hover {
    text-decoration: underline
}

h1,
h2,
h3,
h5 {
    font-weight: 400
}

.bold {
    font-weight: 700
}

h1,
h2,
h3 {
    line-height: 1.2
}

.masthead h1 {
    font-size: var(--scale3)
}

.masthead h2 {
    color: var(--color-secondary-bis);
    font-size: var(--scale0)
}

.h1 {
    font-size: var(--scale5)
}

h2 {
    color: var(--color-secondary);
    font-size: var(--scale4)
}

h3 {
    color: var(--color-secondary);
    font-size: var(--scale3);
    margin-bottom: 1rem;
    margin-right: 1em
}

h4 {
    font-size: var(--scale2)
}

h5 {
    font-size: var(--scale1)
}

h6 {
    font-size: var(--scale0)
}

svg {
    margin-right: .2em;
    vertical-align: text-bottom
}

.masthead {
    background: var(--color-dimmed);
    padding: 1em;
    border-bottom-color: red;
    border-bottom-style: solid;
    border-bottom-width: 1px
}

.masthead>div.description {
    gap: inherit;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.summary {
    text-align: justify;
    padding-top: 1em;
}

.masthead>div.description>div.content {
    text-align: center;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.masthead>div.description>div.content>h1 {
    line-height: 100px
}

.timeline>div.job {
    page-break-inside: avoid;
    break-inside: avoid
}

.timeline>div>*+*,
article>*+* {
    margin-top: .7em
}

.meta {
    padding-top: 10px
}

.workmeta {
    padding-top: 5px
}

.stack {
    gap: 1em;
    padding-top: 5px
}

.icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0
}

.timeline>div {
    position: relative
}

.timeline>div:not(:last-child) {
    padding-bottom: 0.5rem
}

.timeline>div:not(:last-child)::before {
    content: '';
    position: absolute;
    top: 1rem;
    left: -15px;
    width: 2px;
    height: 100%;
    background: var(--color-secondary)
}

.timeline>div:not(:only-child)::after {
    content: '';
    position: absolute;
    top: .6rem;
    left: -20px;
    width: 8px;
    height: 8px;
    background: var(--color-secondary);
    border: 2px solid var(--color-background);
    border-radius: 50%
}

@media print,
(min-width:48em) {
    h3 {
        text-align: left;
        margin-bottom: inherit
    }

    .masthead {
        text-align: inherit
    }

    section {
        display: flex;
        flex-direction: column
    }

    .body {
        display: flex;
        flex-direction: column;
        float: left;
        margin-left: 40px;
        word-wrap: break-word;
        width: auto;
        margin-bottom: 4em
    }

    .icon-list {
        flex-direction: column
    }
}

@media print {
    .duration {
        display: none
    }
}